<!DOCTYPE html>
<html>
<head>
    <meta charset="utf8"/>
    <title>HTML Forms Demo</title>
</head>
    <form action='/results1' method='POST'>
        <p>
        Do you prefer some dance music? <br/>
            <input type='radio' name='ans1' 
                    value='y' checked='checked'/>Yes <br/>
            <input type='radio' name='ans1' 
                    value='n'/>No <br/>
        </p>
        <p>
        Do you prefer some accoustic music? <br/>
            <input type='radio' name='ans2'
                value='y' checked='checked'/>Yes <br/>
            <input type='radio' name='ans2'
                value='n'/>No<br/>
        </p>
        <p>
        Do you prefer some loud and energetic music? <br/>
            <input type='radio' name='ans3'
                value='y' checked='checked'/>Yes <br/>
            <input type='radio' name='ans3'
                value='n'/>No<br/>
        </p>
        <p>
        Do you prefer some happy and positive music? <br/>
            <input type='radio' name='ans4'
                value='y' checked='checked'/>Yes <br/>
            <input type='radio' name='ans4'
                value='n'/>No <br/>
        </p>
        <input type='submit' value='Get Recommendations'/>
    </form>
</body>
</html>